
@{
    ViewBag.Title = "RegistrationConfirmation";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<link rel="stylesheet" href="~/Content/dist/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/Content/dist/css/line-icons/line-icons.css">
<link rel="stylesheet" href="~/Content/dist/css/style.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/dist/css/page_log_reg_v4.css" type="text/css" />

@using (Html.BeginForm())
{
    <body>
        <div class="wrapper">
            <div class="section" style="overflow:hidden;">
                <div class="container-fluid">
                    <div class="row">
                        @Html.Partial("_innerpartialmaster")

                        <div style="color:lightgreen; font-weight:bold">
                            Registered Successfully. Email confirmation has been sent to your mailbox. please confirm and Click here to @Html.ActionLink("Login", "Login", "Login").
                        </div>
                    </div>
                </div>
                <div class="section ">
                    <div class="container-fluid back">
                        <div class="row">
                            <div style="padding: 16px 12px 0 20px;">
                                <div class="col-md-6  pull-right global-text">
                                    <p class="text-right">
                                        ©
                                        <script>                               document.write(new Date().getFullYear())</script> APEX. All Right Reserved.
                                    </p>

                                </div>
                                <div class="col-md-6 pull-left Copyright-txt">
                                    <p class="text-left">Powered by<span style="color:#5590d2;"> Fourth Bottle<span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>




}
